/.metadata/

FinalProject/.classpath

Servers/.settings/org.eclipse.wst.server.core.prefs

Servers/Tomcat v8.5 Server at localhost-config/catalina.policy

Servers/Tomcat v8.5 Server at localhost-config/catalina.properties

Servers/Tomcat v8.5 Server at localhost-config/context.xml

Servers/Tomcat v8.5 Server at localhost-config/server.xml

Servers/Tomcat v8.5 Server at localhost-config/tomcat-users.xml

Servers/Tomcat v8.5 Server at localhost-config/web.xml
